---
import { Image } from "astro:assets";
import BentoCard from "./BentoCard.astro";

const size = "small";
const { entry, extraStyle } = Astro.props;
const path = `/blog/${entry.data.slug}`;
---

<BentoCard size={size} path={path} className={`border-[1px] border-edge rounded-xl hover:bg-blue-200`} extraStyle={extraStyle}>
  <div>{entry.data.title}</div>
  <Image src={entry.data.cover} alt="" />
</BentoCard>
