---
import ContentCard from "./ContentCard.astro";
import CommonContent from "./CommonContent.astro";

const size = "blog";
const { entry } = Astro.props;
const slug = `/blog/${entry.data.slug}`;
---

<ContentCard size={size} slug={slug}>
  <CommonContent entry={entry} toolbarText={entry.data.category}>
    <div class="line-clamp-3 md:line-clamp-4">{entry.data.excerpt}</div>
  </CommonContent>
</ContentCard>
