---
import { Image } from "astro:assets";
import ContentCard from "./ContentCard.astro";
import CommonContent from "./CommonContent.astro";
import { joinTags } from "../../../utils/cardUtils";

const size = "project";
const { entry, extraStyle } = Astro.props;
const slug = `/projects/${entry.data.slug}`;
---

<ContentCard size={size} slug={slug} extraStyle={extraStyle}>
  <div class="flex flex-col h-full">
    <CommonContent entry={entry} toolbarText={joinTags(entry)} />
    <div class="max-h-[50%] min-h-[50%]">
      <Image src={entry.data.cover} width={800} alt="" class="object-cover h-full w-full overflow-clip rounded-cards shadow-up-md" />
    </div>
  </div>
</ContentCard>
