---
import { LinkedinIcon, GithubIcon, SendIcon } from "astro-feather";
const size = 30;
const stroke = 1.5;
---

<div class="flex flex-row space-x-4 text-black pt-3">
  <LinkedinIcon size={size} strokeWidth={stroke} />
  <GithubIcon size={size} strokeWidth={stroke} />
  <SendIcon size={size} strokeWidth={stroke} />
</div>
