---
import CommonContent from "./CommonContent.astro";
import ContentCard from "./ContentCard.astro";

const { entry, ...extraProps } = Astro.props;
const slug = `/blog/${entry.data.slug}`;
---

<ContentCard slug={slug} {...extraProps}>
  <CommonContent
    entry={entry}
    toolbarText={entry.data.category}
    toolbarStyle="text-xs uppercase tracking-wide text-stone-600"
    titleStyle="text-gray-900 font-serif group-hover:decoration-amber-300"
    subTitleStyle="text-gray-600 font-serif"
    tagText="blog"
    tagColor="bg-amber-100 text-amber-700 border-amber-300"
  >
    <div class="line-clamp-2">{entry.data.excerpt}</div>
  </CommonContent>
</ContentCard>
