---
import ContentCard from "./ContentCard.astro";
import CommonContent from "./CommonContent.astro";

const { entry, ...extraProps } = Astro.props;
const slug = `/musings/${entry.data.slug}`;
---

<ContentCard slug={slug} {...extraProps} extraStyle="font-serif">
  <CommonContent
    entry={entry}
    toolbarText={entry.data.category}
    toolbarStyle="text-gray-500 text-sm"
    titleStyle="italic font-normal text-gray-800 decoration-wavy group-hover:decoration-emerald-400"
    subTitleStyle="text-gray-500 italic"
    tagText="musings"
    tagColor="bg-emerald-100 text-emerald-700 border-emerald-200"
  >
    <div class="line-clamp-2">{entry.data.excerpt}</div>
  </CommonContent>
</ContentCard>
