---
const { entry, frontmatter, extraStyle } = Astro.props;
import { Image } from "astro:assets";
import { formatDate } from "../../utils/cardUtils";
const src = entry.data.cover;
const subTitleStr = `${formatDate(entry)} · ${frontmatter.minutesRead}`;
---

<div class="mb-8 font-serif md:mt-8 md:text-[20px] xl:text-[22px]">
  <div class="max-w-[62ch] mx-auto">
    <div class={`text-xl mb-2 text-extralight ${extraStyle}`}>{subTitleStr}</div>
    <div class={`text-3xl md:text-5xl text-bold text-black mb-4 ${extraStyle}`}>{entry.data.title}</div>
  </div>
  <div class="-mx-4 md:-mx-10 mb-12">
    <Image src={src} widths={[1800]} class="object-cover w-full max-h-[22vh] 2xl:max-h-[30vh] object-center h-full" alt="" />
  </div>
</div>
