---
import { getImage } from "astro:assets";
import heroImage from "../../content/supplements/images/PatrickGhibli.png";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPublishedEntries } from "../../utils";
import BlogCard from "../Cards/BlogCard.astro";
import MusingsCard from "../Cards/MusingsCard.astro";
import ProjectCard from "../Cards/ProjectCard.astro";
import ContentGrid from "../Layout/ContentGrid.astro";
const optimizedCardImg = await getImage({ src: heroImage, format: "webp" });

// Retrieve requested collection
const { collectionName, title, subtitle, flavorText } = Astro.props;

const meta = {
  description: flavorText,
  image: optimizedCardImg.src,
};

// Extract all blog posts from collections
const content = await getPublishedEntries(collectionName, false);

// Determine Component to Render
const componentMap = {
  blog: BlogCard,
  projects: ProjectCard,
  musings: MusingsCard,
};

const Component = componentMap[collectionName];
const elems = [
  ...content.map((entry) => ({
    component: Component,
    props: { entry: entry },
  })),
];
---

<BaseLayout title={title} meta={meta}>
  <div class="fade-in mx-auto max-w-base xl:max-w-wide pb-2">
    <span class="flex text-6xl lg:text-7xl mt-6 mb-2 lowercase font-serif font-medium">
      <div>{subtitle}<span class="text-accent">.</span></div>
    </span>
    <div class="text-base xl:text-lg">{flavorText}</div>
  </div>
  <ContentGrid elements={elems} />
</BaseLayout>
