---
import { getPublishedEntries } from "../../utils";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Bento from "../Bento/Bento.astro";
import BlogCard from "../Bento/Cards/BlogCard.astro";
import ProjectCard from "../Bento/Cards/ProjectCard.astro";
import MusingsCard from "../Bento/Cards/MusingsCard.astro";

// Retrieve requested collection
const { collectionName, title, subtitle, flavorText } = Astro.props;

// Extract all blog posts from collections
const content = await getPublishedEntries(collectionName, false);

// Determine Component to Render
const componentMap = {
  blog: BlogCard,
  projects: ProjectCard,
  musings: MusingsCard,
};
const Component = componentMap[collectionName];

// Fix Aspect Ratio
const aspectRatios = {
  blog: "aspect-[1/1]",
  projects: "aspect-[2/1]",
  musings: "aspect-[1/1]",
};
const aspectRatio = aspectRatios[collectionName];
---

<BaseLayout title={title}>
  <div class="pb-2">
    <span class="flex text-[2.75rem] lowercase font-serif font-medium my-3">
      <div>{subtitle}</div>
      <div class="text-accent">.</div>
    </span>
    <div class="text-base">{flavorText}</div>
  </div>
  <Bento>
    {content.map((entry) => <Component extraStyle={aspectRatio} entry={entry} />)}
  </Bento>
</BaseLayout>
