---
import BaseLayout from "../BaseLayout.astro";
import { Image } from "astro:assets";
import { render } from "astro:content";
import "../styles/post_base.css";
import "katex/dist/katex.min.css";

const { entry, contentStyle = "" } = Astro.props;
const frontmatter = entry.data;
const { Content } = await render(entry);

// Form the markdown overrides
import BlockQuote from "../../components/MDX/Blockquote.astro";
import PostVideo from "../../components/MDX/PostVideo.astro";
import ImageWrapper from "../../components/MDX/ImageWrapper.astro";
import Prose from "../../components/MDX/Prose.astro";

const components = {
  blockquote: BlockQuote,
  img: ImageWrapper,
  ...{ PostVideo },
};
---

<BaseLayout title={frontmatter.title}>
  <Prose>
    <div class="font-serif">
      <div>
        <h1 class="text-center">{entry.data.title}</h1>
        <Image src={entry.data.cover} alt={entry.data.title} class="not-prose border-2 object-cover h-full w-full" />
      </div>
      <div class={`post-content max-w-content mx-auto space-y-[0.75rem] ${contentStyle}`}>
        <Content components={components} />
      </div>
    </div>
  </Prose>
</BaseLayout>
