---
import "@fontsource-variable/dm-sans/opsz.css";
import "@fontsource-variable/petrona";
import "@fontsource-variable/petrona/wght-italic.css";
import "@fontsource/jetbrains-mono";
import Footer from "../components/Footer.astro";
import Header from "../components/Header/Header.astro";
import "../styles/globals.css";

const { title, meta = {} } = Astro.props;
const description = meta.description ?? "Welcome to my home on the web, I'm Patrick!";
const image = meta.image;
const url = Astro.url;
const origin = url.origin;
const imageUrl = `${origin}${image}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/seedling.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | Patrick Youssef</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={url.href} />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={url.href} />
    <meta property="og:image" content={imageUrl} />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:url" content={url.href} />
    <meta name="twitter:image" content={imageUrl} />

    <!-- Theme Color -->
    <meta name="theme-color" content="#FCFBF9" />

    <script is:inline>
      window.addEventListener("DOMContentLoaded", () => {
        const hash = window.location.hash;
        if (hash) {
          // Prevent automatic browser scrolling
          history.scrollRestoration = "manual";
        }
      });

      window.addEventListener("load", () => {
        const hash = window.location.hash;
        if (hash) {
          const el = document.getElementById(hash.substring(1));
          if (el) {
            el.scrollIntoView({ behavior: "auto", block: "start" });
          }
        }
      });
    </script>
  </head>
  <body class="bg-background font-sans min-h-[100dvh] grid grid-rows-[auto_1fr_auto]">
    <div class="h-2 bg-accent"></div>
    <div class="px-4 md:px-10 max-w-[100vw]">
      <Header />
      <slot />
    </div>
  </body>
  <Footer />
</html>
